* {
  margin: 7.5px 0 7.5px 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0 auto;
  max-width: 120rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007fad;
  height: 3.4rem;
  margin-bottom: 1.4rem;
}

.free-comett-logo {
  height: 3.4rem;
  width: auto;
  padding-left: 2.5%;
}

.free-reg-logo {
  height: 3.4rem;
  width: auto;
  padding-right: 2.5%;
}
.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-right: 40px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

main {
  padding: 0.6rem 0;
}

.nav-container {
  width: 100%;
  padding: 0 3% 0 3%;
}
.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
  font-size: 16px;
  position: relative;
  margin-bottom: 0rem;
}

.img-tools {
  display: flex;
  height: 2.2rem;
  gap: 1rem;
}

svg {
  cursor: pointer;
  -webkit-text-stroke: 10px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.8rem;
  margin-top: 0;
  margin: 0 auto;
}
.wrap-container {
  max-width: fit-content;
  max-height: fit-content;
}

#image-container {
  resize: vertical;
  width: 95%;
  border: 3px solid#7c7c7c;
  scroll-behavior: smooth;
  overflow: scroll;
  margin: auto;
  height: 60vh;
  position: relative;
}

#image-container > img {
  width: 100%;
}

.table-scroll {
  width: 95vw;
  height: 18rem;
  overflow: scroll;
  position: sticky;
  scroll-behavior: smooth;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
table {
  /* max-width: max-content; */
  white-space: nowrap;
  font-size: 14px;
  width: 95vw;
}
table,
th,
td {
  border: 1.3px solid #707070;
  border-collapse: collapse;
  padding: 0.8rem;
  text-align: center;
}

th {
  position: sticky;
  top: 0rem;
  background-color: #dedede;
  border: 1.5px solid #707070;
}

tr:nth-child(odd) {
  background-color: #e6f6f5;
}

.marriages,
.edit-search,
.table-search-bar {
  display: flex;
  justify-content: space-between;
}
.marriages,
.edit-search {
  gap: 1.2rem;
}
.table-search-bar {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.form-selected {
  font-size: 18px;
  font-weight: 800;
  padding: 0 0.6rem 0.5rem 0.4rem;
  align-self: center;
}
.marriage,
.baptism,
.burial,
.search,
.adjust-fields {
  gap: 45px;
  display: flex;
  justify-content: center;
  padding: 0.05rem;
  width: 10rem;
  border: 2px solid #7c7c7c;
  border-radius: 9px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.adjust-fields,
.search {
  width: 10rem;
  font-size: 14px;
}

#image-container.rotate90,
#image-container.rotate270 {
  height: 60vh;
  /* border: 20px solid pink; */
  /* position: relative; */
}

/* .hi {
}
.im {
  transform: 1.2;
} */
/*

.rotate90 #image {
  transform: rotate(90deg) translateY(0px);
  -webkit-transform: rotate(90deg) translateY(0px);
  -ms-transform: rotate(90deg) translateY(0px);
}
.rotate180 #image {
  transform: rotate(180deg) translate(-100%, -100%);
  -webkit-transform: rotate(180deg) translate(-100%, -100%);
  -ms-transform: rotate(180deg) translateX(-100%, -100%);
}
.rotate270 #image {
  transform: rotate(270deg) translateX(-100%);
  -webkit-transform: rotate(270deg) translateX(-100%);
  -ms-transform: rotate(270deg) translateX(-100%);
} */
